@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("font-files/Inter-Medium.woff2?v=3.11") format("woff2"),
    url("font-files/Inter-Medium.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("font-files/Inter-Bold.woff2?v=3.11") format("woff2"),
    url("font-files/Inter-Bold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("font-files/Inter-Black.woff2?v=3.11") format("woff2"),
    url("font-files/Inter-Black.woff?v=3.11") format("woff");
}
