/**
 * RESET
 */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/**
 * GLOBAL
 */
:root {
	--color-primary: #4c2982;
	--color-secondary: #f9d170;
	--color-bg: #f9f7f3;
	--color-text: #252525;
	--color-light: #f3f3f3;
	--color-success: #067973;
	--color-success-bg: #f5fffe;
	--color-error: #b71540;
	--color-error-bg: #fdeff3;
	--font-stack: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
}

body {
	font-family: var(--font-stack);
	background-color: var(--color-bg);
	color: var(--color-primary);
	max-width: 320px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/**
 * Typography
 */
h1 {
	line-height: 1.2;
	font-weight: 900;
	margin-bottom: 30px;
}

label {
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin-bottom: 8px;
}

strong {
	font-weight: 700;
	margin-bottom: 5px;
}

p {
	font-weight: 500;
}

/**
 * SVG icons
 */
.arrow-right-icon {
	fill: var(--color-primary);
}

svg.icon-wrapper {
	width: 24px;
	height: 24px;
	position: relative;
	float: left;
	top: -3px;
	left: -6px;
}

.icon-alert {
	fill: var(--color-error);
}

.icon-check {
	fill: var(--color-success);
}

/**
 * Layout
 */
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 46px;
	margin-bottom: 12px;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(23, 11, 41, 0.12);
	box-shadow: 0px 2px 10px 0px rgba(23, 11, 41, 0.12);
}

input {
	border-style: none;
	background-color: var(--color-light);
	color: var(--color-text);
	font-weight: 500;
	padding: 12px;
	width: 100%;
}

/**
 * Button
 */
.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-style: none;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	cursor: pointer;
	width: 52px;
	height: 100%;
}

.btn svg {
	transition: width 0.4s, height 0.4s;
}

.btn svg:hover {
	width: 100%;
	height: 100%;
}

::-moz-focus-inner {
	border: 0;
}

input:focus,
.btn:focus {
	border: 1px solid var(--color-primary);
	outline: none;
}

/**
 * Dialog Box
 */
.dialog-box {
	font-weight: 700;
	padding: 22px 26px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

.validation {
	background-color: var(--color-error-bg);
	border: 1px solid var(--color-error);
	color: var(--color-error);
}

.confirmation {
	background-color: var(--color-success-bg);
	border: 1px solid var(--color-success);
	color: var(--color-success);
}

.content {
	padding-left: 28px;
}
